Source: noip
Section: net
Priority: extra
Maintainer: Trần Ngọc Quân <vnwildman@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.4
Homepage: http://www.no-ip.com/
Vcs-Git: git://github.com/vnwildman/noip.git
Vcs-Browser: https://github.com/vnwildman/noip

Package: noip
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: no-ip.com dynamic IP update client for Linux
 This daemon communication with server without ssl/tls

Package: mininoip
Architecture: all
Depends: bash, wget, coreutils
Description: mini no-ip.com dynamic IP update client for Linux
 mininoip community with noip server over https protocol

